{% load static %} 
<!doctype html>
<html class="no-js' %}" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title> Skill π Earn </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/website/img/favicon.ico' %}">


   <!-- CSS here -->
        <link rel="stylesheet" href= "{% static 'website/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/price_rangs.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'website/img/logo/logo.png' %}" alt="">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'website/img/logo/logo.png'%}" alt=""></a>
                            </div>  
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                            <li><a href="#">Find  Employee </a></li>
                                            <li><a href="#">Find Shop or Enterprises</a></li>
                                            <li><a href="#">contact us</a> 
                                               <!-- <ul class="submenu"> -->
                                                   <!-- <li><a href="contact.html">contact</a></li> 
                                                    <li><a href="single-blog.html"></a></li>
                                                    <li><a href="elements.html"></a></li>
                                                    <li><a href="job_details.html">job Details</a></li> -->
                                                </ul>
                                            </li>
                                            <!-- <li><a href="contact.html">Contact</a></li> -->
                                        </ul>
                                    </nav>
                                </div>          
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="#" class="btn head-btn1">Signup</a>
                                    <a href="#" class="btn head-btn2">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'website/img/hero/about2.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Contact Us</h2>
                           <!-- <a href="https://www.youtube.com/playlist?list=PLFhbPt_nHHPcB-LG1B-QNGz7184bYyyes" class="border-btn2 border-btn4" target="_blank" rel="noopener noreferrer"> For More Details Visit MA </a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Hero Area End -->
         <br>
        {% if name %}
                <center> 
                   <h1>Thanks {{ name }}!</h1>
                    <p>We have received your message and our team will get back to you soon...</p>
                    <p style="color: #007BFF;">
                    Your message has been flagged as high priority by 
                    <span style="color: #d9534f; font-weight: bold;">MAAI</span> 
                    and will be addressed promptly.
                    </p>


                </center>
        {% endif %}
    <!-- ================ contact section start ================= -->
     
    <section class="contact-section">
            <div class="container">
                <div class="mb-5 pb-4">
                   
                    
      

    
                <div class="row">
                    <div class="col-12">
                        <div style="text-align: left;">
                        <h2 class="contact-title">Get in Touch</h2>
                    </div>   
                    </div>
                    <div class="col-lg-8">
                        <form method="post" action="/contact/">


                             {% csrf_token %}
                             <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Enter your feedback or message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Skill π earn</h3>
                               <!-- <p>Kerala,india</p>-->
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+91 9497200270</h3>
                                <p>Message Only Format</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>ma.ceo@skillpiearn.com</h3>
                                
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->
<!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                           <!-- <img src="{% static 'website/img/testmonial/mat1.jpg' %}" alt=""> -->
                                            <span>MA</span>
                                            <p>Founder & CEO</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“MA is the personal brand of Abhinandh R Nair, founder of Skill π Earn, focused on empowering local workers, shops, and entrepreneurs. It uses AI to enhance connectivity, security, and privacy. 3.33% of profits go to charity, reflecting its commitment to community impact.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img mb-30">
                                           <!-- <img src="{% static 'website/img/testmonial/maca1.jpg' %}" alt=""> -->
                                            <span>MAAI</span>
                                            <p>AI aassistant of MA</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“MAAi is the AI assistant of MA, powering all intelligent systems within the Skill π Earn platform. It actively monitors user behavior to ensure safety and integrity. If any bots or malpractice are detected, the system will automatically ban those users permanently from the platform, maintaining a secure and trustworthy environment.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                       <!-- <div class="founder-img mb-30">
                                            <img src="{% static 'website/img/testmonial/testimonial-founder1.png' %}" alt=""> -->
                                            <span>MACA</span>
                                            <p>charitable wing of MA</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“MACA (MA’s Charity Association) is the charitable wing of MA, currently under development for official registration as a Public Charitable Trust. Once launched, anyone will be able to join and contribute. All revenue from MA's social media presence and 3.33% of profits from MA products will be dedicated to charitable causes through MACA, reinforcing its mission of giving back to the community.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

    <!-- ================ new area from about for details  ================= -->
     
    <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>What we are doing</span>
                                <h2>Skill π Earn</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Skill π Earn, built to empower local workers, shops, and entrepreneurs by enhancing grassroots connectivity through digital solutions. The platform integrates MAAi, an AI assistant that manages all intelligent operations, monitors user behavior, and ensures security by permanently banning bots or users involved in malpractice. As part of its social commitment, 3.33% of all MA profits are allocated to charity. This vision is further extended through MACA (MA’s Charity Association), currently under development for registration as a Public Charitable Trust, where everyone will soon be able to participate. Additionally, all revenue from MA’s social media activities is directed towards charitable causes through MACA, reinforcing MA’s mission of community upliftment and social impact.</p>
                                <p>For detailed tutorials, feature explanations, and more AI-related content, tap below.</p>
                                <a href="https://www.youtube.com/playlist?list=PLFhbPt_nHHPcB-LG1B-QNGz7184bYyyes" class="border-btn2 border-btn4" target="_blank" rel="noopener noreferrer">For More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="{% static 'website/img/service/hi.jpg' %}" alt="">
                           <!--<div class="support-img-cap text-center">
                                <p>Since</p>
                                <span>1994</span> --> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <div class="footer-tittle">
                                 <h4>About Us</h4>
                                 <div class="footer-pera">
                                     <p>Skill π Earn</p>
                                </div>
                             </div>
                         </div>

                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    
                                    <li><a href="#">Phone : +91 9497200270</a></li>
                                    <li><a href="#">Email : ma.ceo@skillpiearn.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                 <p>Feedback Here</p>
                             </div>
                             <!-- Form -->
                             <div class="footer-form" >
                                 <div id="mc_embed_signup">
                                     <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                     method="get" class="subscribe_form relative mail_part">
                                         <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                         class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                         onblur="this.placeholder = ' Email Address '">
                                         <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img src="{% static 'website/img/icon/form.png' %}" alt=""></button>
                                         </div>
                                         <div class="mt-10 info"></div>
                                     </form>
                                 </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  -->
               <div class="row footer-wejed justify-content-between">
                       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                          <!-- logo -->
                          <div class="footer-logo mb-20">
                            <a href="{% url 'home' %}"><img src="{% static 'website/img/logo/logo.png' %}" alt=""></a>
                          </div>
                       </div>
                      <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>5000+</span>
                            <p>Talented Hunter</p>
                        </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="footer-tittle-bottom">
                                <span>451</span>
                                <p>Talented Hunter</p>
                            </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5"> -->
                            <!-- Footer Bottom Tittle -->
                            <!--<div class="footer-tittle-bottom">
                                <span>568</span>
                                <p>Talented Hunter</p>
                            </div>
                       </div>
               </div>
            </div>
        </div> -->
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-10 ">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib caπt be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib caπt be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-xl-2 col-lg-2">
                             <div class="footer-social f-right">
                                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                                 <a href="#"><i class="fab fa-twitter"></i></a>
                                 <a href="#"><i class="fas fa-globe"></i></a>
                                 <a href="#"><i class="fab fa-behance"></i></a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'website/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'website/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'website/js/popper.min.js' %}"></script>
        <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'website/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'website/js/slick.min.js' %}"></script>
        <script src="{% static 'website/js/price_rangs.js' %}"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'website/js/wow.min.js' %}"></script>
		<script src="{% static 'website/js/animated.headline.js' %}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'website/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'website/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'website/js/jquery.magnific-popup.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'website/js/contact.js' %}"></script>
        <script src="{% static 'website/js/jquery.form.js' %}"></script>
        <script src="{% static 'website/js/jquery.validate.min.js' %}"></script>
        <!--<script src="{% static 'website/js/mail-script.js' %}"></script> -->
        <script src="{% static 'website/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'website/js/plugins.js' %}"></script>
        <script src="{% static 'website/js/main.js' %}"></script>
     
        
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6851cd093779dc190d3062cf/1itvohrvu';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->



    </body>
    
    </html>